# Go build cache & modules
/pkg/
/vendor/

# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# VS Code
.vscode/

# Output folder 
bin/

# Test files data folder
test/
coverage.out

# Logs
*.log

# Temporary files
*.tmp
*.swp
*.swo

# Exclude instructions
INSTRUCTIONS.md