# Go build cache & modules
/pkg/
/vendor/
/go.sum

# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# VS Code
.vscode/

# Output folder 
bin/

# Test data folder
test/

# Logs
*.log

# Temporary files
*.tmp
*.swp
*.swo